*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100svh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #010409;
    color: white;
}
.cell {
    width: 30px;
    aspect-ratio: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.cell.o{
    background-image: url(../assets/circle.svg);
}
.cell.x{
    background-image: url(../assets/cross.svg);
}
.wrapper{
    display: flex;
    gap: 10px;
}

.container header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}


button:hover{
    filter: brightness(140%);
}
button{
    transition: .3s ease;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 3px;
    background-color: royalblue;
    color: white;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    aspect-ratio: 1;
    width: 300px;
}

#board .cell.x.active{
    background-color: #30427d;
}
#board .cell.o.active{
    background-color: #7d3030;
}
#board .cell:hover{
    filter: brightness(120%);
}
#board .cell{
    width: auto;
    transition: .3s ease-in-out;
    background-color: rgb(16, 22, 41);
    color: white;
}

#game-over{
    min-width: 350px;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-top-left-radius: 16px;
    background-color: #171b22;
    border-top-right-radius: 16px;
    font-size: 30px;
    font-weight: 600;
    transform: translate(-50%, 100%) scale(0);
    opacity: 0;
    visibility: none;
    transition: .5s cubic-bezier(0.42, 0, 0.31, 1.28);
}
#game-over.show{
    transition-delay: .7s;
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
}
#game-over .content{
    display: flex;
    gap: 10px;
    align-items: center;
}
#game-over .content .cell{
    width: 80px;
}
#game-over.draw{
    color: #8e8e8e;
}
#game-over.draw .cell{
    display: none;
}
#game-over.o{
    color: #ff4d59
}
#game-over.x{
    color: #5e97ff;
}
#game-over p{
    margin-top: 10px;
    text-align: center;
}